[tool.poetry]
name = "netcheck"
version = "0.1.1"
description = ""
authors = ["Brian Thorne <brian@thorne.link>"]
readme = "README.md"
packages = [{include = "netcheck"}]

[tool.poetry.dependencies]
python = "^3.10"
dnspython = "^2.2.1"
requests = "^2.28.1"
typer = {extras = ["all"], version = "^0.7.0"}
pydantic = "^1.10.2"


[tool.poetry.scripts]
netcheck = "netcheck.cli:app"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
