[tool.poetry]
name = "netcheck"
version = "0.3.3"
description = "Netchecks is a cloud native tool for specifying and regularly checking assertions about network conditions. Use netchecks to proactively verify whether security controls are working as intended, alerting on misconfiguration."
authors = ["Brian Thorne <brian@hardbyte.nz>"]
readme = "README.md"
packages = [{include = "netcheck"}]

[tool.poetry.dependencies]
python = "^3.10"
dnspython = "^2.2"
requests = "^2.28"
typer = "^0.9"
pydantic = "^1.10"
rich = ">=10.11.0,<14.0.0"
cel-python = "^0.1.5"


[tool.poetry.scripts]
netcheck = "netcheck.cli:app"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
coveralls = "^3.3.1"
pytest-cov = "^4.0.0"
ruff = "^0.0.241"

[tool.ruff]
line-length = 120


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
