apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: networkassertions.netchecks.io
  labels:
    app.kubernetes.io/part-of: netcheck
spec:
  scope: Namespaced
  group: netchecks.io
  names:
    kind: NetworkAssertion
    listKind: NetworkAssertionList
    plural: networkassertions
    singular: networkassertion
    shortNames:
      - nas
  versions:
    - name: v1
      served: true
      storage: true
      additionalPrinterColumns:
        - jsonPath: .spec.schedule
          name: Schedule
          type: string
      schema:
        openAPIV3Schema:
          type: object
          description: NetworkAssertion is the Schema for the networkassertions API
          properties:
            spec:
              type: object
              required:
                - rules
              properties:
                schedule:
                  type: string
                rules:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - type
                    properties:
                      name:
                        type: string
                      type:
                        type: string
                        enum:
                          - dns
                          - http
                          - internal
                      server:
                        type: string
                      host:
                        type: string
                      port:
                        type: integer
                      path:
                        type: string
                      expected:
                        type: string
                      configMapName:
                        type: string
                      configMapKey:
                        type: string
                    oneOf:
                      - properties:
                          type:
                            enum: ["dns"]
                          host:
                            type: string
                        required: ["host"]
                      - properties:
                          type:
                            enum: ["http", "internal"]
            status:
              type: object
              properties:
                lastCheckTime:
                  type: string
                  format: date-time
                conditions:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - status
                      - lastTransitionTime
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                      reason:
                        type: string
                      message:
                        type: string
                      lastTransitionTime:
                        type: string
                        format: date-time
