apiVersion: v2
name: netchecks
description: Netchecks proactively verifies whether your security controls are working as intended.
type: application
icon: https://raw.githubusercontent.com/hardbyte/netchecks/main/.github/logo.png
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.9

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "0.4.1"
sources:
  - https://github.com/hardbyte/netchecks
maintainers:
  - name: Brian Thorne
    email: brian@hardbyte.nz
    url: hardbyte.nz
annotations:
  # https://artifacthub.io/docs/topics/annotations/helm/
  artifacthub.io/changes: |
    - kind: added
      description: Support for CEL templated variables, injecting context from ConfigMaps and Secrets.
      links:
        - name: GitHub Issue
          url: https://github.com/hardbyte/netchecks/issues/33
        - name: Inject Context PR
          url: https://github.com/hardbyte/netchecks/pull/34
        - name: Context from Secrets PR
          url: https://github.com/hardbyte/netchecks/pull/37
    - kind: added
      description: Updated documentation, support multiple architectures.
  artifacthub.io/category: security
  artifacthub.io/operator: "true"
  artifacthub.io/prerelease: "false"
  artifacthub.io/operatorCapabilities: Deep Insights
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: Documentation
      url: https://docs.netchecks.io
  artifacthub.io/crds: |
    - kind: NetworkAssertion
      version: v1
      name: networkassertions.netchecks.io
      displayName: Network Assertion
      description: NetworkAssertion is the Schema for the networkassertions API
  artifacthub.io/crdsExamples: |
    - apiVersion: netchecks.io/v1
      kind: NetworkAssertion
      metadata:
        name: http-should-work
        annotations:
          description: Assert pod can connect to k8s API
      spec:
        template:
          metadata:
            labels:
              optional-label: applied-to-test-pod
            annotations:
              my: override-annotation
        rules:
          - name: kubernetes-version
            type: http
            url: https://kubernetes.default.svc/version
            verify-tls-cert: false
            expected: pass
            validate:
              message: Http request to Kubernetes API should succeed.
dependencies:
  - name: policy-reporter
    version: 2.19.0
    repository: https://kyverno.github.io/policy-reporter
    condition: policy-reporter.enabled
